Babel==2.11.0
Bottleneck==1.3.7
Brotli==1.0.9
GitPython==3.1.37
Jinja2==3.1.3
Markdown==3.6
MarkupSafe==2.1.3
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.15.1
QtPy==2.4.1
SQLAlchemy==2.0.25
SQLAlchemy==2.0.29
Send2Trash==1.8.2
Werkzeug==3.0.2
absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
argcomplete==3.2.3
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.3.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.6.2
branca==0.7.1
cachetools==4.2.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cycler==0.11.0
dataclasses-json==0.6.4
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
docker-pycreds==0.4.0
duckdb==0.10.0
executing==0.8.3
faiss-cpu==1.8.0
fastjsonschema==2.16.2
filelock==3.9.0
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.4.0
frozenlist==1.4.1
fsspec==2023.4.0
gast==0.5.4
gitdb==4.0.7
google-pasta==0.2.0
graphviz==0.20.1
greenlet==3.0.1
greenlet==3.0.3
grpcio==1.62.1
gw_dsl_parser==0.1.45a6
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httpx==0.26.0
idna==3.4
imageio==2.34.0
ipykernel==6.28.0
ipython-genutils==0.2.0
ipython==8.20.0
ipywidgets==7.8.1
isoduration==20.11.0
jedi==0.18.1
joblib==1.2.0
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.0
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==4.19.2
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter==1.0.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyterlab==4.0.11
jupyterlab_server==2.25.1
kanaries_track==0.0.4
keras==3.1.1
kiwisolver==1.4.4
langchain-community==0.0.31
langchain-core==0.1.37
langchain-core==0.1.38
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langchain==0.1.14
langchainhub==0.1.15
langsmith==0.1.38
lazy_loader==0.3
libclang==18.1.1
markdown-it-py==2.2.0
marshmallow==3.21.1
matplotlib-inline==0.1.6
matplotlib==3.8.0
mdurl==0.1.0
mistune==2.0.4
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-dtypes==0.3.2
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multidict==6.0.5
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
notebook==7.0.8
notebook_shim==0.2.3
numexpr==2.8.7
numpy==1.26.4
openai==1.16.0
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.0
orjson==3.9.15
overrides==7.4.0
packaging==23.2
pandas-stubs==2.1.4.231227
pandas==2.2.1
pandocfilters==1.5.0
parso==0.8.3
pillow==10.2.0
pip==23.3.1
pipx==1.5.0
platformdirs==3.10.0
plotly==5.20.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyarrow==14.0.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.0
pygwalker==0.4.7
pyparsing==3.0.9
pypdf==4.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3.post1
pywin32==305.1
pywinpty==2.0.10
pyzmq==25.1.2
qtconsole==5.5.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rpds-py==0.10.6
scikit-image==0.22.0
scikit-learn==1.3.0
scipy==1.12.0
seaborn==0.13.2
segment-analytics-python==2.2.3
selenium==3.141.0
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools==68.2.2
sip==6.7.12
six==1.16.0
smmap==4.0.0
sniffio==1.3.0
soupsieve==2.5
sqlglot==23.3.0
stack-data==0.2.0
streamlit==1.32.0
sympy==1.12
tenacity==8.2.2
tensorboard-data-server==0.7.2
tensorboard==2.16.2
tensorflow-intel==2.16.1
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==2.2.0
tifffile==2024.2.12
tiktoken==0.6.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchvision==0.17.2+cu118
tornado==6.3.3
tqdm==4.65.0
traitlets==5.7.1
types-python-dateutil==2.9.0.20240316
types-pytz==2022.4.0.0
types-requests==2.31.0.20240402
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
unzip==1.0.0
uri-template==1.3.0
urllib3==2.0.3
userpath==1.9.2
wandb==0.16.6
wasmtime==12.0.0
watchdog==2.1.6
wcwidth==0.2.5
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.41.2
widgetsnbextension==3.6.6
win-inet-pton==1.1.0
wrapt==1.16.0
xgboost==2.0.3
xyzservices==2024.4.0
yarl==1.9.3
yarl==1.9.4